.animated__text{
    color: white;
    background-image: url(http://pixner.net/boleto/demo/assets/images/newslater/newslater-bg01.jpg);
    background-size: cover;
    height: 300px;
    border-radius:30px ;
    align-items: center;
    justify-content: center;
    
    h1{
        font-size: 2.8rem;
        color: black;
    }
}
.animated__wrapper{
    
    background-color: #001232;
}