.countup__wrapper{
    background-color: #001232;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    // border-bottom: 1px solid #1a2a47;
   .countup__content{
       position: absolute;
       top:-70px;
       width: 70%;
    //    transform: translate(40%,-50%);
       
    //    background-color: #032055;;
    background-image: url(http://pixner.net/boleto/demo/assets/images/statistics/statistics-bg01.jpg);
       border-radius: 25px;
    //    opacity: .4;
       span{
           color: #ffffff;;
        //    color: #31d7a9;
           font-weight: 700;
        //    font-style: italic;
       }
       h2{
           color: #24a3a0;
       }
   }
}
.countup__item{
    // background-color:#08378e;
    padding: 30px;
}