
.detailMovie__wrapper{
   
   background-color:#212529; ;
    .detailMovie__conatiner{
     
        .detailMovie__info{
            color:rgb(126,154,178);
        }
    }
}

@media screen and (max-width:1140px){

   .detailMovie__content{
       max-width: none !important;
       
     
   }

    .markCircle{
        display: none;
    }
    .detailMovie__info{
        width: 100%;
    }
}

@media screen and (max-width:990px){
        .detailMovie__listMovie{
            display: none !important;
        }
}