
.detailMovie__wrapper{
   
   background-color:#212529; 
//   z-index: -1;
//   
// filter: blur(15px);
   
    .detailMovie__conatiner{
       z-index: 2; 
       
        .detailMovie__info{
            color:rgb(126,154,178);
        }
    }
}

.ticket__button{
    font-size: 16px !important;
    border-radius: 4px !important;
    padding: 7px 25px !important;
    background-color:  #fb4226 !important;
    //   outline: none !important;
   
    &:hover{
        background-color:  #b42a14 !important;
    }
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}

@media screen and (max-width:1140px){

   .detailMovie__content{
       max-width: none !important;
       
     
   }

    .markCircle{
        display: none;
    }
    .detailMovie__info{
        width: 100%;
    }
}

@media screen and (max-width:990px){
        .detailMovie__listMovie{
            display: none !important;
        }
}