.form__wrapper{
    // width: 22%;
    width: 600px;
    padding: 60px 32px 30px;
    height: fit-content;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to bottom,rgba(20,50,93,.9),rgba(8,22,48,.9));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.644);
    border-radius: 6px;
    .tittle{
        
         img{
             padding-top: 50px;
            width: 100%;
            margin:0 auto;
            display: block;
            width: 209px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13px;
        
        }
        p{
            color: white;
            text-align: center;
        }
        
    }
    .form{
        width: 90%;
        margin: 0 auto;
        p{
            font-size: 14px;
            margin-bottom: 0;
            color: black;
            padding-top: 15px;
        }
        label,p{
            margin-bottom: 0;
        }
        .input{
            width: 100%;
           padding:4px 0;
           &:focus{
               outline: 0;
           }
        .logNreg{
            width: 100%;
            margin: 0 auto;
            .btn{
                border-radius: 0 !important;
            }
            
        }
        }
    }
   
}

@media screen and (max-width:1027px){
    .form__wrapper{
        width: 30% !important;
    }
}
@media screen and (max-width:740px){
    .form__wrapper{
        width: 40% !important;
    }
}
@media screen and (max-width:560px){
    .form__wrapper{
        width: 80% !important;
    }
}