.movie__button {
  &:hover {
    color: white;
  }
  position: absolute;
  top: 8px;
  left: 0 !important;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  border-radius: 4px;
  padding: 12px 60px;
  text-decoration: none;
  color: white;
  width: 100%;

  //   width: 100%;
  //   margin: 0 auto;
  left: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none !important;
  &:focus {
    outline: none;
  }
  opacity: 0;
}
.icon {
  display: none;
}
.card {
  border: none !important;
  cursor: pointer;
  margin: 0 auto;
  width: 250px;

  // &:hover .movie__button {
  //   opacity: 1;
  //   transition: all 0.7s;
  // }
  // &:hover .release__date,
  // &:hover .card-title {
  //   transition: all 0.6s;
  //   opacity: 0;
  // }
  &:hover .overlay,
  &:hover .icon {
    display: block;
    
  }
 

  .card-img-top {
    position: relative;
    height: 350px;
    width: 100%;
  }
  .overlay {
    position: absolute;
    background: linear-gradient(to top, #000, transparent 60%);
    // top: 25px;

    width: 100%;
    height: 350px;
    display: none;
    transition: all ease .3s !important;
  }
  .icon {
    &:hover {
      color: #337ab7;
      transition: 0.2s;
    }
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    // background-color: white;
    border: white 1px solid;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
  }
  .card-body {
    position: relative;
    width: 100%;
    padding: 0 !important;

    .release__date {
      width: 100% !important;
    }
  }
}
.card-body{
  background-color: #032055;
 
  &:hover{
       text-decoration: none;   
  }

  .card-title{
    height: 50px;
  }
}
