.movie__wrapper {
  background-color: #001232;
  // background-image: url(http://pixner.net/boleto/demo/assets/images/ticket/ticket-bg01.jpg);
width: 100%;
padding-top: 50px;
padding-bottom: 100px;
  .mobile{
     
    display: none;  
  }
  .nav-tabs {
    padding: 100px 0 10px;
    width: 100% ;
    justify-content: center;
    border-bottom: none;
    border: 0;
    margin: 0 auto;
    .nav-link {
      padding:15px 20px ;
      font-weight: 500;
      // font-size: 20px;
      color: white;
      border-radius: 30px;
      border:1px solid #11326f;
      background-color: transparent;
      // &:hover {
      //   // font-size: 24px;
      //   transition: all 0.4s;
      //   border: 0;
      // }
    }
    .active {
      // color: #fa5238 !important;
      border: 0 !important;
       background: -webkit-linear-gradient(169deg,#5560ff 0%, #ff4343 100%);
      color: white;
      // font-size: 24px;
    }
  }
}


.movie__mobile{
  img{
    width: 100%;
    border-radius: 4px;
  }
  
}

.title {
  margin-bottom: 20px;
  padding: 20px;
}
.img {
  height: 260px;
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
@media screen and (max-width:1200px){
  .nav-link{
    font-size: 18px !important;
    &:hover{
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width:990px){
  .nav-link{
    font-size: 14px !important;
    &:hover{
      font-size: 16px !important;
    }
  }
  
}


@media screen and (max-width:700px){
  .desktop{
    display: none !important;
  }
  .mobile{
    display: block !important ;
  }
  .mobile__display{
    display: flex !important;
  }
  
}
