.movie__wrapper {
  .nav-tabs {
    padding: 100px 0 10px;
    width: 100% ;
    justify-content: center;
    border-bottom: none;
    border: 0;
    margin: 0 auto;
    .nav-link {
      font-weight: 500;
      font-size: 20px;
      color: black;
      &:hover {
        font-size: 24px;
        transition: all 0.4s;
        border: 0;
      }
    }
    .active {
      color: #fa5238 !important;
      border: 0 !important;
      font-size: 24px;
    }
  }
}

.movie__mobile{
  img{
    width: 100%;
  }
  
}

.title {
  margin-bottom: 20px;
  padding: 20px;
}
.img {
  height: 260px;
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}
@media screen and (max-width:1200px){
  .nav-link{
    font-size: 18px !important;
    &:hover{
      font-size: 20px !important;
    }
  }
}
@media screen and (max-width:990px){
  .nav-link{
    font-size: 14px !important;
    &:hover{
      font-size: 16px !important;
    }
  }
  
}


@media screen and (max-width:700px){
  .desktop{
    display: none !important;
  }
}
