.header {
	padding: 15px 0;
	// background-color: rgba(255, 255, 255, 0.322);
	background-color: transparent;
	font-size: 0.9rem;
	font-weight: 500;
	position: fixed;
	z-index: 1000;
	width: 100%;
	
	// border-bottom: 1px solid rgba(255, 255, 255, 0.377);
	
	// box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

	.row{
		width: 100% !important;
	}
	.header__logo {
		
		&:hover a{
			text-decoration: none !important;
		}
		img {
			height: 50px;
			width: 50px;
			display: block;
			border-radius: 10px;
		}
		padding-left: 20px;
	}
	.header__nav {
		text-align: center;
		margin: 0 auto;
		ul {
			list-style: none;
			padding-top: 15px;
			li a {
				color: white;
				transition: all ease 0.3s;
				&:hover {
					text-decoration: none;
					color: #fb4226;
				}
				margin: 0 30px;
			}
		}
	}
	.header__login {
		.nav {
			.nav-item {
				a {
					line-height: 50px;
					color: #9b9b9b;
					padding: 0;
					display: inline;
				}
				img {
					border-radius: 50%;
					width: 30px;
					color: #9b9b9b;
					margin-right: 5px;
				}
				// margin-right: 10px;
				padding-right: 10px;
			}
		
		}
	}
}

.active__navbar{
	background-color: #121a36fd !important;
	border-bottom: none !important;
}
.transition{
	transition: all .3s ease-in-out;
}
.nav-pills .nav-link .active,
.nav-pills .show > .nav-link {
	background-color: transparent !important;
}
@media screen and (min-width:1200px){

	.dropdown__button{
	display: none ;
	}
}


@media screen and (max-width:1200px){
	.row{
		justify-content: space-between;
	}
		.middleLi {
		display: none;
	}
	.login{
		display: none;
	}
	.dropdown__button{
		
		float: right !important;
		
		img{
			vertical-align: middle !important;
			height: 15.9px !important;
			width: 25px !important;
			transform: translateY(50%);
		}
	}
}
@media screen and (max-width:645px){
	.carousel{
		display: none;
	}
}
@media screen and (max-width:560px){
	.row{
		// width: 100% !important;
	}

}
.nav{
	padding-left: 0 !important;
}