.summery__wrapper{
    color:  #31d7a9;
    .summery__tittle{
        border-top: 1px solid #11326f;
        border-bottom: 1px solid #11326f;
    }
}
.recommend__wrapper{
        border-top: 1px solid #11326f;
        border-bottom: 1px solid #11326f;   
        h2{
           color:  #31d7a9;
        }
}