.carousel {
  padding-top: 72.33px;
  position: relative;
}

.carousel .carousel-inner .carousel-item a .carousel__overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000, transparent 20%);
}

.carousel .carousel-inner .carousel-item a img {
  display: block;
  width: 100%;
  height: 640px;
}

.carousel .carousel-inner .carousel-item a i {
  color: transparent;
  font-size: 500px;
  display: none;
}

.carousel .carousel-inner .carousel-item a:hover i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
}

.carousel .carousel-inner .carousel-item a:hover i:hover {
  color: rgba(255, 255, 255, 0.7);
}

.header {
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 0.9rem;
  font-weight: 500;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.header .header__logo {
  padding-left: 20px;
}

.header .header__logo img {
  height: 50px;
  width: 50px;
  display: block;
}

.header .header__nav {
  text-align: center;
}

.header .header__nav ul {
  list-style: none;
  padding-top: 15px;
}

.header .header__nav ul li a {
  color: black;
  transition: all ease 0.3s;
  margin-right: 15px;
}

.header .header__nav ul li a:hover {
  text-decoration: none;
  color: #fb4226;
}

.header .header__login .nav .nav-item {
  margin-right: 10px;
  padding-right: 10px;
}

.header .header__login .nav .nav-item a {
  line-height: 50px;
  color: #9b9b9b;
  padding: 0;
  display: inline;
}

.header .header__login .nav .nav-item img {
  border-radius: 50%;
  width: 30px;
  color: #9b9b9b;
  margin-right: 5px;
}

.header .header__login .nav .dropdown img {
  width: 15px;
}

.header .header__login .nav .dropdown .dropdown-menu.show {
  top: 10px !important;
  left: -20px !important;
}

.header .header__login .nav .dropdown .dropdown-menu.show a {
  display: block;
}

.header .header__login .nav .dropdown .dropdown-menu.show .dropdown-item {
  padding-left: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__login {
    max-width: 100%;
  }
}

.movie__button {
  position: absolute;
  top: 8px;
  left: 0 !important;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  border-radius: 4px;
  padding: 12px 60px;
  text-decoration: none;
  color: white;
  width: 100%;
  left: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none !important;
  opacity: 0;
}

.movie__button:focus {
  outline: none;
}

.icon {
  display: none;
}

.card {
  border: none !important;
  cursor: pointer;
}

.card:hover .movie__button {
  opacity: 1;
  transition: all 0.7s;
}

.card:hover .release__date,
.card:hover .card-title {
  transition: all 0.6s;
  opacity: 0;
}

.card:hover .overlay,
.card:hover .icon {
  display: block;
}

.card .card-img-top {
  position: relative;
  height: 300px;
  width: 100%;
}

.card .overlay {
  position: absolute;
  background: linear-gradient(to top, #000, transparent 60%);
  top: 25px;
  width: 100%;
  height: 300px;
  display: none;
}

.card .icon {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  border: white 1px solid;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
}

.card .icon:hover {
  color: #337ab7;
  transition: 0.2s;
}

.card .card-body {
  position: relative;
  width: 100%;
  padding: 0 !important;
}

.card .card-body .release__date {
  width: 100% !important;
}

.movie__wrapper .nav-tabs {
  padding: 100px 0 10px;
  width: 30% !important;
  border-bottom: none;
  border: 0;
  margin: 0 auto;
}

.movie__wrapper .nav-tabs .nav-link {
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.movie__wrapper .nav-tabs .nav-link:hover {
  font-size: 24px;
  transition: all 0.4s;
  border: 0;
}

.movie__wrapper .nav-tabs .active {
  color: #fa5238 !important;
  border: 0 !important;
  font-size: 24px;
}

.title {
  margin-bottom: 20px;
  padding: 20px;
}

.img {
  height: 260px;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */